@model ForgotPVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Forgot Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>E-mail for Password</h2>
                        </div>
                        <div class="login-form">
                            <form method="post">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <input asp-for="Email" placeholder="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Send E-mail</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login end -->
